@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 80%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#containerButton {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

button {
    padding: 10px;
    font-size: 17px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 10px;
    border: none;
    width: 5%;
}

input, textarea {
    border: 1px solid #e0e0e0;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    margin: 15px;
    border-radius: 10px;
}

textarea {
    height: 300px;
}

button:hover {
    background-color: #bebebe;
    box-shadow: 5px 5px 10px gray;
}

#containerAdd {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#addArticle {
    color: white;
    width: initial;
}

.containerArt {
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
}

#containerArticle {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.containerInfo {
    width: 70%;
    color: #e0e0e0;
    display: flex;
    font-size: 15px;
    flex-direction: column;
}

.containerImage {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    border-radius: 10px;
}


h1 {
    margin: 20px 0;
    color: black;
    font-size: 30px;
}